<html>
<footer>
    <br>
    <br>
    <br>
    <div class="left" style="margin-left: 100px;">
    <a href="/privacy" style="color: grey; text-decoration: none; font-size: 20px;">Privacy Policy - </a>
    <a href="/terms" style="color: grey; text-decoration: none; font-size: 20px;">Terms & Conditions</a>
<p style="color: grey;"><strong>Vapor Bot © 2022 - 2023 - All rights reserved.</strong></p>
<p style="color: grey;"><strong>English</strong></p>
</div>
</footer>
</html>
